@import "tailwindcss";

@theme inline {
    --font-mono: "JetBrains Mono", monospace; /* */
}

:root {
    --background: #191724;
    --foreground: #e0def4;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-mono); /* Set global default */
}
